<!-- <p>post-details works!</p> -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <app-post [post]="getPost()" (incEmitter)="onIncrement($event)" (decEmitter)="onDecrement($event)" ></app-post>
        </div>
    </div>
</div>

<br>
<br>

<h1 class="text-center bg-success text-white p-4">Comments</h1>

<div class="container">
    <div class="row">
        <div class="offset-3 col-6 my-4" *ngFor="let comment of getComments()">
            <app-comment [comment]="comment"></app-comment>
        </div>
    </div>
</div>